.heroSlide {
  opacity: 0;
  animation-name: realisations-hero-fade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes realisations-hero-fade {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0.9;
  }
  25% {
    opacity: 0.9;
  }
  35% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
